@charset "utf-8";
@import url(https://qwerewqwerew.github.io/source/style/reset.css);
.cont {
  overflow: hidden;
}
.item {
  width: clamp(50%, 100%, 100%);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.item:nth-child(2n) {
  background-color: gray;
}
.num {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 5vw;
}
.box {
  width: 10vw;
  height: 10vw;
  background-color: #ff1515;
}
.active.box {
  filter: hue-rotate(100deg);
}
