.text {
  font-size: 15vw;
  font-weight: 900;
}
.sec5.item,
.sec8.item {
  flex-direction: column;
}
.sec7 .text {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.sec4 .box,
.sec9 .box {
  background: url(http://qwerew.cafe24.com/images/1.jpg) no-repeat center center /
    100%;
}
