.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.sec1 .box {
  background-image: url(http://qwerew.cafe24.com/images/1.jpg);
}
.sec2 .box {
  background-image: url(http://qwerew.cafe24.com/images/1.jpg);
}
.sec3 .box {
  background-image: url(http://qwerew.cafe24.com/images/1.jpg);
}
.sec4 .box {
  background-image: url(http://qwerew.cafe24.com/images/1.jpg);
}
.sec5 .box {
  background-image: url(http://qwerew.cafe24.com/images/1.jpg);
}

.box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.num {
  position: absolute;
  color: #fff;
  font-size: 10vw;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
}
